body{
    background-size: cover;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
    padding: 30px 20px;
    margin: 0px;
    border:20px solid white;
    
}
.logo{
    background-color: orange;
    width: 10%;
    padding: 35px 20px;
}
header{
    background-color: white;
    align-items: center;
    display: inline;
    position: absolute;
    /* margin-top: 9px; */
    width: 1000px;
    height: 10%;
    margin-top: -0.1px;
}
.abv{
    padding: 20px 30px;
    
    display: block;
    display: inline;
}
text{
    position: absolute;
    float: right;
    margin-left: 65.1%;
    padding: 28px 10px;
    color:white;
    background-color: orange;
}
.hdit{
    text-decoration: none;
    justify-content: center;
    margin-right: 20px;
    color: #414147;
    float: right;
    margin-top: 25px;
    align-items: center;
}