body{
    margin:0px;
    padding: 0px;
    background-color:skyblue;
}
.abhdr{
    width: 100%;
    height: 25px;
    background-color: mediumturquoise;
}
header{
    width: 100%;
    background-color: #fff;
    height: 65px;
}
.container01{
    margin-left: 220px;
}
.forimg td img{
    border-radius: 15px;
}
button{
    border-radius: 25px;
    padding: 5px 20px;
    margin: 2px;
    background: none;
    border: 1px solid blue;
    cursor: pointer;
}
.scnmn{
    margin-right: 250px;
}
.bxs{
    border: 1px solid skyblue;
    background-color: white;
    border-radius: 5px;
    height: auto;
    width: 55px;
}
.frpd{
    padding: 0px 10px;
}
.sct{
    border-spacing: 50px;
}


